var path = require('path'),
    config;

config = {
    production: {
        url: '{{ghost_url}}',
        mail: {
            transport: 'SMTP',
            from: '"ReactiveOps Docs" <docs@reactiveops.com>',
            options: {
                host: '{{ses_smtp_server_name}}',
                port: 465,
                service: 'SES',
                auth: {
                    user: '{{ses_access_key}}',
                    pass: '{{ses_secret_access_key}}'
                }
            }
        },
    database: {
        client: '{{ghost_database_client}}',
        connection: {
        host     : '{{ghost_database_host}}',
        user     : '{{ghost_database_user}}',
        password : '{{ghost_database_password}}',
        database : '{{ghost_database_dbname}}',
        charset  : 'utf8'
        }
    },
        server: {
            host: '127.0.0.1',
            port: '2368'
        }
    }

};

module.exports = config;